.navbar {
    margin: 5px;
    padding: 10px;
    background: #014466;
}

#main {
    background-color: #36454F;
}

.link1 {
    margin-left: 150px;
}

.link3 {
    margin-right: 150px;
}

.portrait {
    border: 5px solid black;
    padding: 0;
    margin-right: 5px;
    border-radius: .6125%;
}

.content{
    margin-left: 10px;
    padding: 0;
}

.float {
    float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about-brendon {
    margin-left: 5px;
}

hr {
    border-width: 5px;
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #FFFCE8;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  display: table;
  margin: 0 auto;
}

h6 {
    text-align: center;
    color: #FFFCE8;
}

#ireland {
    border-radius: 1.5%;
    background-color: #36454F;
}

p {
    color: #FFFCE8;
}

.readable {
    color: #FFFCE8;
}
