.navbar {
    margin: 5px;
    padding: 10px;
    background: #014466;
}

#main {
    background-color: #36454F;
}

.link1 {
    margin-left: 150px;
}

.link3 {
    margin-right: 150px;
}

.portrait {
    border: 5px solid black;
    padding: 0;
    margin-right: 5px;
    border-radius: .6125%;
}

.content{
    margin-left: 10px;
    padding: 0;
}

.float {
    float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about-brendon {
    margin-left: 5px;
}

hr {
    border-width: 5px;
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #FFFCE8;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  display: table;
  margin: 0 auto;
}

h6 {
    text-align: center;
    color: #FFFCE8;
}

#milkyway {
    border-radius: .6125%;
    background-color: #36454F;
}

p {
    color: #FFFCE8;
}

.readable {
    color: #FFFCE8;
}

/* css for slideshow on index / home page*/
/* yanked from https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

